{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  {% include "components/navbar.html" %}
    <div class="modules">
        <div class="module">
            <h2>Module 1</h2>
            <p>Description of Module 1.</p>
        </div>
        <div class="module">
            <h2>Module 2</h2>
            <p>Description of Module 2.</p>
        </div>
        <div class="module">
            <h2>Module 3</h2>
            <p>Description of Module 3.</p>
        </div>
    </div>
{% endblock %}
