{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/modules.css') }}">
{% endblock %}

{% block content %}
{% include "components/navbar.html" %}

<div class="module-section">
    <h2 class="module-title">Your Learning Modules</h2>

    <div class="card-container">

        {% for module in modules %}
            {% include "components/card.html" %}
        {% endfor %}

    </div>
</div>

{% endblock %}
