header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  background-color: var(--bg-navbar);
  height: 60px;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 18px;
  width: 100px;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  text-decoration: none;
  color: var(--text-black);
  font-weight: bold;
}

header nav ul li a:hover {
  color: var(--text-white);
}

/* ------------------ BUTTON ------------------ */
header nav .butt {
  width: 80px;
  height: 30px;
  background-color: var(--bg-main);
  color: var(--primary);
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

header nav .butt:hover {
  background-color: var(--btn-hover);
}